* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body,
input {
  font-family: Mulish, "sans-serif";
  font-size: 1.6rem;
  color: white;
}

body {
  background: rgb(10, 8, 14);
  background: linear-gradient(
    39deg,
    rgba(10, 8, 14, 1) 0%,
    rgba(30, 16, 47, 1) 100%
  );
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: min(112rem, 100%);
  padding: 1.6rem 3.2rem;
}

header {
  color: white;
  padding: 1.6rem 1.6rem 0 1.6rem !important;
}

header,
nav,
nav ul {
  display: flex;
  gap: 7.5rem;
  align-items: center;
}

.logo {
  width: 12rem;
  height: 6;
  object-fit: cover;
}

nav ul {
  list-style: none;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  padding: 1.6rem;
  border: 0;
  border-radius: 1rem;
  width: 100%;
  background: rgb(9, 5, 17);
  background: linear-gradient(
    32deg,
    rgba(9, 5, 17, 0.221) 0%,
    rgba(26, 12, 46, 0.632) 90%
  );

  color: #f5f5f5;
}

.input-wrapper input::placeholder {
  color: #c6c6c6;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

ul li {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.88rem;
}

ul li.active {
  color: #5f0092;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2.88rem;
}

main {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  height: 0;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #5f0092;
  border-radius: 0.8rem;
}

main h1 {
  padding-top: 2.2rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 3.84rem;
}

footer p {
  padding: 1.2rem;
  text-align: center;
  font-weight: 700;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.add-photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  margin: 3.2rem auto;
  text-align: center;
}

.add-item {
  padding: 0rem 1.6rem 1.6rem;
  border: 1px solid black;
  border-radius: 0.8rem;
  font-size: 1.89rem;
  font-weight: 700;
  line-height: 160%;
  background: rgb(9, 5, 17);
  background: linear-gradient(
    32deg,
    rgba(9, 5, 17, 1) 0%,
    rgba(13, 6, 24, 1) 31%,
    rgba(21, 8, 38, 1) 53%,
    rgba(24, 9, 45, 1) 98%
  );
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.add-item:hover {
  transform: scale(1.1);
}

.add-item h1 {
  padding-bottom: 1.6rem;
}

.add-item img {
  object-fit: cover;
}

.item {
  border: 1px solid black;
  border-radius: 0.8rem;
  background-color: rgb(57, 48, 70);
  overflow: hidden;
  background: rgb(9, 5, 17);
  background: linear-gradient(
    32deg,
    rgba(9, 5, 17, 1) 0%,
    rgba(26, 12, 46, 1) 69%,
    rgba(16, 7, 28, 1) 100%
  );
}

.item img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.item img:hover {
  transform: scale(1.2) rotate(-2deg);
  filter: saturate(200%) blur(5%);
}

.details {
  background: rgb(9, 5, 17);
  background: linear-gradient(
    32deg,
    rgba(9, 5, 17, 1) 0%,
    rgba(26, 12, 46, 1) 69%,
    rgba(16, 7, 28, 1) 100%
  );
  padding: 2.2rem;
  position: relative;
  z-index: 1;
}

.tag {
  padding-top: 2.2rem;
}

.tag span {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    32deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 7, 32, 1) 100%
  );
  padding: 0.6rem;
}

